<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userProfile">
            <h2><span jhiTranslate="odaatApp.userProfile.detail.title">User Profile</span> {{userProfile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="odaatApp.userProfile.receiveEmailAlerts">Receive Email Alerts</span></dt>
                <dd>
                    <span>{{userProfile.receiveEmailAlerts}}</span>
                </dd>
                <dt><span jhiTranslate="odaatApp.userProfile.receiveTextAlerts">Receive Text Alerts</span></dt>
                <dd>
                    <span>{{userProfile.receiveTextAlerts}}</span>
                </dd>
                <dt><span jhiTranslate="odaatApp.userProfile.notifyOfJobsInArea">Notify Of Jobs In Area</span></dt>
                <dd>
                    <span>{{userProfile.notifyOfJobsInArea}}</span>
                </dd>
                <dt><span jhiTranslate="odaatApp.userProfile.user">User</span></dt>
                <dd>
                    {{userProfile.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-profile', userProfile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
