<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locationState">
            <h2><span jhiTranslate="odaatApp.locationState.detail.title">Location State</span> {{locationState.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="odaatApp.locationState.name">Name</span></dt>
                <dd>
                    <span>{{locationState.name}}</span>
                </dd>
                <dt><span jhiTranslate="odaatApp.locationState.country">Country</span></dt>
                <dd>
                    <div *ngIf="locationState.country">
                        <a [routerLink]="['/country', locationState.country?.id, 'view']">{{locationState.country?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location-state', locationState.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
